

/*** Film Künyesi CSS start ***/
.movie-poster {
    width: 150px;
    margin-right: 7px;
}

.movie-poster-td {
    vertical-align: top;
}

.movie-title-tr {
    font-size: 20pt;
    font-weight: bold;
}

.movie-title {
    font-size: 12pt;
}

.movie-director {
    font-size: 10pt;
}

.movie-default {
    font-size: 9pt;
}

.movie-imdb-rating {
    font-size: 12pt;
    font-weight: bold;
}

.movie-overview-header {
    font-size: 10pt;
    font-weight: bold;
}

.movie-card {
    border: 1px solid #FF7F50;
    border-radius: 10px;
    background-color: #F8F6F2;
    width: 550px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 4px;
}

.fovorite-list-card {
    border: 1px solid #FF7F50;
    border-radius: 10px;
    background-color: #F8F6F2;
    width: 150px;
    position: absolute;
    top: 90px;
    left: 424px;
    padding-top: 5px;
}


.movie-favorite-ico {
    position: absolute;
    left: 560px;
    cursor: pointer;
}

.movie-list-ico {
    position: absolute;
    left: 560px;
    top: 75px;
    cursor: pointer;
    z-index: 1;
}

.movie-watched-ico {
    position: absolute;
    left: 563px;
    top: 50px;
    cursor: pointer;
}

.movie-video-logined-ico {
    position: absolute;
    left: 563px;
    top: 107px;
    cursor: pointer;
}


.movie-video-not-logined-ico {
    position: absolute;
    left: 563px;
    top: 22px;
    cursor: pointer;
}

.movie-favorite-list-header {
    font-size: 10pt;
    vertical-align: top;
    position: relative;
    top: 8px;
    padding-left: 5px;
}

.movie-list-header-ico {
    cursor: pointer;
    padding-left: 5px;
}

/*** Film Künyesi CSS end ***/
/*** Oyuncu Künyesi CSS start ***/

.person-card {
    border: 1px solid #FF7F50;
    border-radius: 10px;
    background-color: #F8F6F2;
    width: 550px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 4px;
}

.person-poster {
    width: 150px;
    margin-right: 7px;
}

.person-poster-td {
    vertical-align: top;
}

.person-favorite-ico {
    position: absolute;
    left: 560px;
    cursor: pointer;
}

.person-list-ico {
    position: absolute;
    left: 560px;
    top: 48px;
    cursor: pointer;
}

.person-name {
    font-size: 20pt;
    font-weight: bold;
}

.person-job {
    font-size: 12pt;
}

.person-birth {
    font-size: 10pt;
}

.person-movies-header {
    font-size: 10pt;
    font-weight: bold;
}

.person-default {
    font-size: 9pt;
}

/*** Oyuncu Künyesi CSS end ***/
/*** GENEL CSS BAŞLANGIÇ ***/

/*
html, body {
    font-family: verdana, Helvetica, Arial, sans-serif;
}
*/


.font-bold {
    font-weight: bold;
}

.margin-bt-10 {
    margin-bottom: 10px;
}

body {
	background-color: transparent;
}

